<link rel="stylesheet" type="text/css" href="/rps_style.css">

<div class="title">
  <h1>
    Welcome, <%= @game.player1.name %> and <%= @game.player2.name %>
  </h1>
</div>

<div class="weapon">
  <h2>Choose your weapon to play!</h2>
  <form action="/play" method="post">
    <input class="buttonRock" type="submit" name="weapon_type" value="Rock">
  </form>

  <form action="/play" method="post">
    <input class="buttonPaper" type="submit" name="weapon_type" value="Paper">
  </form>

  <form action="/play" method="post">
    <input class="buttonScissors" type="submit" name="weapon_type" value="Scissors">
  </form>

</div>
