<link rel="stylesheet" type="text/css" href="/rps_style.css">

<div class="title">
  <h1>
    Welcome, <%= @game.player1.name %>!
  </h1>
  <h3>
    You are playing against  <%= @game.player2.name %>
  </h3>
</div>

<div class="messages">
  <h3>Choose your weapon to play!</h3>

  <div class="weapons">
    <form action="/play" method="post">
      <input class="buttonRock" type="submit" name="weapon_type" value="rock">
    </form>

    <form action="/play" method="post">
      <input class="buttonPaper" type="submit" name="weapon_type" value="paper">
    </form>

    <form action="/play" method="post">
      <input class="buttonScissors" type="submit" name="weapon_type" value="scissors">
    </form>
  </div>

</div>
