<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/new_rps_style.css">
  <title>Game_over</title>
</head>

<div class="col-12">
  <h1><%= @game.winner.name %> wins!</h1>
</div>

</html>
