<link rel="stylesheet" type="text/css" href="/rps_style.css">

<div class="title">
  <h1>Rock Paper Scissors</h1>
  <h1>Game</h1>
</div>

<div>
  <h2>Enter your name to play</h2>
  <form action="/start_game" method="post">
    <label for="player_1_name">
      Player 1
      <input class="registration" type="text" name="player_1_name" required="required">
    </label>
    <label for="player_2_name">
      <input class="registration" id="player2" type="hidden" size="36" placeholder="Leave blank to play against computer" name="player_2_name">
    </label>
    <input class="registration" type="submit" value="Play">
  </form>
</div>
