<div class="title">
  <h1>*** Rock Paper Scissors ***</h1>
  <h1>Game</h1>
</div>

<div class="registration_form">
  <h2>Enter your name to play</h2>
  <form action="/names" method="post">
    <input type="text" placeholder="Player" name="player_1_name">
    <input type="submit" value="Submit">
  </form>
</div>
