<div class="title">
  <h1>
    Welcome, <%= @game.player1.name %> and <%= @game.player2.name %>
  </h1>
</div>

<div class="weapon">
  <h2>Choose your weapon!</h2>
  <form action="/rock" method="post">
    <input type="submit" value="Rock">
  </form>

  <form action="/paper" method="post">
    <input type="submit" value="Paper">
  </form>

  <form action="/scissors" method="post">
    <input type="submit" value="Scissors">
  </form>
</div>
