<link rel="stylesheet" type="text/css" href="/rps_style.css">

<div class="messages">
  <h2>
    You chose <%= @game.player1.weapon.type %>!
    <%= @game.player2.name %> chose <%= @game.player2.weapon.type %>!
  </h2>

  <h2>
    <% if @game.result == 1 %>
      The result is ....... You win!
      <% elsif @game.result == -1 %>
      The result is ....... You lose!
      <% elsif @game.result == 0 %>
      It's a draw
    <% end %>
  </h2>
</div>

