html {
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", Monaco, monospace;
    color: steelblue;
    background-image: radial-gradient(steelblue, blanchedalmond, lavender, indianred);
    height: 100%;
    width: 100%;
}

div.messages {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-style: normal;

}

.buttonRock {
    background: url(small_stone.png)  no-repeat;
    cursor:pointer;
    width: 130px;
    height: 100px;
    border: none;
    color: rgba(0, 0, 0, 0);
}

.buttonScissors {
    background: url(scissors.png)  no-repeat;
    cursor:pointer;
    width: 115px;
    height: 215px;
    border: none;
    color: rgba(0, 0, 0, 0);
}

.buttonPaper{
    background: url(paper.png)  no-repeat;
    cursor:pointer;
    width: 140px;
    height: 124px;
    border: none;
    color: rgba(0, 0, 0, 0);
}

h1 {
    margin: 2em 0 0 0;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
}

